body {
background-image: url('https://jpk-image-hosting.s3.amazonaws.com/markdown-app/mooning.png');
font-family: 'Arimo',sans-serif;
}

#formControlsTextArea{
  height:200px;
}

.ControlLabel {
  font-size: 40px

}
